:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to right, #8A2BE2, #FF7F50);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  padding: 20px;
}


.container-card {
  background-color: rgb(103 16 122);
  border-radius: 7px;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  display: flex;
  height: 100%;
  min-height: 150px;
  max-height: 500px;
  margin-bottom: 20px;
  cursor: pointer;
  margin: auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

#Geography {
  background-color: #00BFFF;
}

#History {
  background-color: #DC143C;
}

#Biology {
  background-color: #2E8B57;
}

#Science {
  background-color: #1E90FF;
}

#Astronomy {
  background-color: #191970;
}

#Chemistry {
  background-color: #FFD700;
}

.tag {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.correct {
  color: #0e8e46;

}

#result {
  background-color: #ffffff;
  width: 300px;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
}


.incorrect {
  color: #be0a2e;

}

form {
  margin: 5px;

}

.button-form {
  background: #640856;
  padding: 7px;
  border-radius: 0px 7px 7px 0px;
}

input {
  height: 28px;
  margin-left: 10px;

}

.navigation-arrows {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.arrows {
  font-weight: bolder;
  font-size: larger;
  color: #640856;
}

button {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: none;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  background: #FF7F50;
  font-weight: bold;
  color: #ffffff;
  margin-top: 30px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);

}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.image {
  width: 200px;
  border-radius: 20px;
  margin-top: 15px;
}